<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Sign up</title>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Sign up</h1>
        <form class="register-form" th:action="@{/register}" th:object="${registration}" method="post">
            <div class="field">
                <label class="label">Username:</label>
                <div class="control">
                    <input class="input" type="text" th:field="*{username}">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>
            <div class="field">
                <label class="label">Password:</label>
                <div class="control">
                    <input class="input" type="password" th:field="*{password1}">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></p>
            </div>
            <div class="field">
                <label class="label">Password repeat:</label>
                <div class="control">
                    <input class="input" type="password" th:field="*{password2}">
                </div>
                <p class="help is-danger" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></p>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>
